<div class="flex justify-center">
  <%= form_with(model: @user) do |form| %>
    <% @user.errors.full_messages.each do |error|%>
      <div class="relative p-1 font-sans bg-red-500 border-2 border-white rounded-lg">
        <div class="absolute top-0 right-0 w-4 h-4 -mt-1 -mr-1 bg-red-700 rounded-full animate-ping"></div>
        <div class="absolute top-0 right-0 w-4 h-4 -mt-1 -mr-1 bg-red-700 rounded-full"></div>
        <%= error %>
      </div>
    <% end %>
    <div class ="py-1"></div>
    <div class="px-10 py-5 rounded-lg bg-slate-200">
      <div>
        <%= form.label :email %>
      </div>
      <div>
        <%= form.email_field :email, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-sans font-medium",placeholder: t('.placeholder_email') %>
      </div>
      <div>
        <%= form.label :username %>
      </div>
      <div>
        <%= form.text_field :username, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-sans font-medium",placeholder: t('.placeholder_username') %>
      </div>
      <div>
        <%= form.label :password %>
      </div>
      <div>
        <%= form.password_field :password, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-sans font-medium",placeholder: t('.placeholder_password') %>
      </div>
      <div class="flex justify-center py-2">
        <%= form.submit t('.add_user'), class: "bg-slate-800 p-2 rounded-md text-white hover:bg-slate-700" %>
      </div>
    <% end %>
  </div>
</div>
