<h3><%= t('.why_contact_us')%></h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloremque autem voluptatum corrupti a sint perferendis beatae fugit, quasi reiciendis officia numquam inventore? Rerum, ipsum cumque? Vero ex dolorum ab.</p>

<h3><%= t('.payment_options')%></h3>
<%= image_tag('footer/redbank.jpg', :class => "")%>

<h3><%= t('.copyright')%></h3>

<h3><%= t('.contact_us')%></h3>
<h3><%= t('.address')%></h3>
<h3><%= t('.phone_number')%></h3>
<h3><%= t('.email')%></h3>
<h3><%= t('.whatsapp_number')%></h3>


