<div class="bg-neutral-900 flex justify-center items-start py-5 mt-auto">
  <div class="text-neutral-700 w-96 font-medium text-center px-8">
    <h3 class="text-neutral-100 font-semibold text-lg"><%= t('.why_contact_us')%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloremque autem voluptatum corrupti a sint perferendis beatae fugit, quasi reiciendis officia numquam inventore? Rerum, ipsum cumque? Vero ex dolorum ab.</p>
  </div>

  <div class="text-neutral-700 font-medium text-center px-8">
    <h3 class="text-neutral-100 font-semibold text-lg"><%= t('.payment_options')%></h3>
    <%= image_tag('footer/redbank.jpg', :class => "p-4 h-36")%>
    <h3 class="hover:animate-spin"><%= t('.copyright')%></h3>
  </div>

  <div class=" text-neutral-700 w-96 font-medium text-right px-8">
    <h3 class="text-neutral-100 font-semibold text-lg"><%= t('.contact_us')%></h3>
    <h3><%= t('.address')%></h3>
    <h3><%= t('.phone_number')%></h3>
    <h3><%= t('.email')%></h3>
    <h3><%= t('.whatsapp_number')%></h3>
  </div>
</div>