<div class=" bg-slate-900 flex justify-start items-center h-24 font-sans text-xl font-semibold p-3">
  <div class="text-white text-2xl px-0.5">
    <%= link_to homes_path do %>
      <h1>Comerciales Sistemas Comerciales</h1>
    <% end %>
  </div>

  <div class="text-slate-600 hover:text-white px-1.5">
    <%= link_to t('.products'), products_path %>
  </div>

  <% if Current.user %>
      <% if Current.user.admin? %>
      <div class="text-slate-600 hover:text-white px-1.5">
          <%= link_to t('.categories'), categories_path %>
      </div>
      <div class="text-slate-600 hover:text-white px-1.5">
          <%= link_to t('.sign_up'), new_user_path %>
      </div>
      <div class="text-slate-600 hover:text-white px-1.5">
          <%= link_to t('.add'), new_product_path %>
      </div>
      <% end %>
      <div class="text-slate-600 hover:text-white px-1.5">
          <%= link_to t('.favorites'), favorites_path %>
      </div>
      <div class="text-slate-600 hover:text-white px-1.5">
          <%= button_to t('.logout'), session_path('123'), method: :delete %>
      </div>
    <% end %>
    <div class="ml-auto text-slate-600 hover:text-white px-1.5">
      <%= link_to t('.login'), new_session_path unless Current.user%>
    </div>
</div>

<div class='h-24'>
</div>