<h1 class="py-20 font-montserrat text-bgray text-center text-3xl font-bold"><%= t('.title')%></h1>

<div class="flex justify-center">
  <div class="grid grid-cols-4 gap-4 drop-shadow">
    <%= image_tag('home/image1.jpg', :class => "object-cover h-48 w-max rounded-lg")%>
    <%= image_tag('home/image1.jpg', :class => "object-cover h-48 w-max rounded-lg")%>
    <%= image_tag('home/image1.jpg', :class => "object-cover h-48 w-max rounded-lg")%>
    <%= image_tag('home/image1.jpg', :class => "object-cover h-48 w-max rounded-lg")%>
    <%= image_tag('home/image1.jpg', :class => "object-cover h-48 w-max rounded-lg")%>
    <%= image_tag('home/image1.jpg', :class => "object-cover h-48 w-max rounded-lg")%>
    <%= image_tag('home/image1.jpg', :class => "object-cover h-48 w-max rounded-lg")%>
    <%= image_tag('home/image1.jpg', :class => "object-cover h-48 w-max rounded-lg")%>
  </div>
</div>
