<h1 class="py-20 font-montserrat text-bgray text-center text-3xl font-bold"><%= t('.title')%></h1>

<div class="flex justify-center">
  <div class="grid grid-cols-4 gap-10 drop-shadow">
    <div>
      <%= image_tag('home/about_us/logo_digi.jpg', :class => "object-scale-down h-48 w-56 rounded-lg")%>
    </div>

    <div>
      <%= image_tag('home/about_us/logo_hobart.png', :class => "object-scale-down h-48 w-56 rounded-lg")%>
    </div>

    <div>
      <%= image_tag('home/about_us/logo_omas.png', :class => "object-scale-down h-48 w-56 rounded-lg")%>
    </div>

    <div>
      <%= image_tag('home/about_us/logo_torey.png', :class => "object-scale-down h-48 w-56 rounded-lg")%>
    </div>
  </div>
</div>
