<h1><%= t('.title') %></h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cum omnis accusantium illum explicabo modi quam exercitationem temporibus corporis, saepe ratione repellendus neque assumenda molestiae magni non laudantium eum maiores.</p>

<h2><%= t('.about_us') %></h2>

<div>
  <h2><%= t('.subtitle_1') %></h2>
  <%= image_tag('home/image1.jpg')%>
  <p><%= t('.description_1') %></p>
</div>

<div>
  <h2><%= t('.subtitle_2') %></h2>
  <%= image_tag('home/image2.jpg')%>
  <p><%= t('.description_2') %></p>
</div>

<div>
  <h2><%= t('.subtitle_3') %></h2>
  <%= image_tag('home/image3.jpg')%>
  <p><%= t('.description_3') %></p>
</div>

