<div id="<%= dom_id product %>" class="grid grid-cols-4 p-1 font-sans font-medium bg-white border-t-4 product gap-x-1">
  <div class="bg-white rounded-md min-h-10">
    <%= image_tag product.photo, class: "object-scale-down w-full h-10 rounded-t-lg" if product.photo.attached? %>
  </div>
  <div class="flex items-center hover:text-lbd">
    <%= link_to product_path(product.id) do %>
      <%= product.title %>
    <% end %>
  </div>
  <div class="flex items-center justify-end">
    <div class="px-1 font-semibold text-white rounded-md bg-lb hover:bg-lbd">
      <%= link_to t('.edit'), edit_product_path(product) %>
    </div>
  </div>
  <div class="flex items-center justify-end">
    <div class="px-1 text-white bg-red-600 rounded-md hover:bg-red-700">
      <%= link_to t('.destroy'), product_path(product), data: {
        turbo_method: :delete
      } %>
    </div>
  </div>
</div>
