<div id="<%= dom_id category %>" class="grid grid-cols-1 p-1 font-sans font-medium bg-white border-t-4 sm:grid-cols-3 gap-x-1">
  <div class="flex flex-row items-center">
    <%= category.name %>
    <div class="relative ml-auto sm:hidden" data-controller="dropMenu">
      <button data-action="click->dropMenu#open">
        <%= image_tag('icons/ellipsis-vertical.svg', class: "w-7 h-7 ")%>
      </button>
      <div class="absolute right-0 z-40 hidden text-white shadow-lg buttom-0" data-dropMenu-target="items">
        <%= link_to edit_category_path(category) do %>
          <h1 class="px-2 py-1 rounded-t bg-lbd"><%= t('.edit')%></h1>
        <% end %>
        <%= link_to category_path(category), data: { turbo_method: :delete } do %>
          <h1 class="px-2 py-1 bg-red-600 rounded-b"><%= t('.destroy')%></h1>
        <% end %>
      </div>
    </div>
  </div>
  <div class="justify-end hidden sm:flex">
    <div class="px-1 font-semibold text-white rounded-md bg-lb hover:bg-lbd">
      <%= link_to t('.edit'), edit_category_path(category) %>
    </div>
  </div>
  <div class="justify-end hidden sm:flex">
    <div class="px-1 text-white bg-red-600 rounded-md hover:bg-red-700">
      <%= link_to t('.destroy'), category_path(category), data: { turbo_method: :delete } %>
    </div>
  </div>
</div>
