<div class="font-montserrat flex justify-center">
  <%= form_with(model: category) do |form| %>
    <% @category.errors.full_messages.each do |error|%>
    <div class="relative rounded-lg border-2 border-white bg-red-500 p-1 font-sans">
      <div class="absolute top-0 right-0 -mr-1 -mt-1 h-4 w-4 animate-ping rounded-full bg-red-700"></div>
      <div class="absolute top-0 right-0 -mr-1 -mt-1 h-4 w-4 rounded-full bg-red-700"></div>

      <%= error %>
    </div>
    <% end %>

    <div class="py-1"></div>

    <div class="rounded-lg bg-slate-200 px-10 py-5">
      <div>
        <%= form.label :name, class: "font-medium" %>
      </div>
      <div>
        <%= form.text_field :name, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slg focus:bg-white font-medium",placeholder: t('.placeholder_name') %>
      </div>

      <div class="flex justify-center space-x-2 py-2">
        <div class="rounded-md bg-zinc-600 p-2 font-semibold text-white hover:bg-zinc-500">
          <%= link_to t('.back'), categories_path %>
        </div>
        <%= form.submit t('commond.submit'), class: "font-semibold bg-lb hover:bg-lbd p-2 rounded-md text-white" %>
      </div>
      <% end %>
    </div>
</div>

<div class="py-20"></div>
