<div data-controller="filter">
  <button class="flex flex-row items-center mr-3 font-semibold sm:hidden text-" data-action="click->filter#open">
    <%= image_tag('icons/funnel.svg', class: "h-7 w-7")%>
    <%= t('.filters')%>
  </button>
  <div class="absolute top-0 left-0 z-50 w-full h-full duration-300 -translate-x-full sm:hidden" data-filter-target="items">
    <%= render "filters"%>
  </div>
</div>
<div class="flex text-bgray font-montserrat">
  <div class="hidden sm:block">
    <%= render "filters"%>
  </div>
  <%= turbo_frame_tag 'index' do %>
    <div class="flex flex-col">
      <div class="">
        <%= turbo_frame_tag :products do %>
          <%= turbo_frame_tag "products-#{@pagy.page}", class: 'products' do %>
            <div data-aos="fade-up" data-aos-duration="800" class="grid grid-cols-3 gap-4 px-4 pb-2 text-dgray">
              <%= render partial: 'product', collection: @products %>
              <% if @products.blank? %>
                <div class=""></div>
                <h1 class="items-center mt-3 text-2xl font-bold text-center w-80 h-max">No se han encontrado resultados</h1>
              <% end %>
            </div>
            <%= turbo_frame_tag "products-#{@pagy.next}", class: 'products', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
          <% end %>
        <% end %>
        <%= render "backToTop"%>
      </div>
    </div>
  </div>
<% end %>
