<div class="flex justify-center font-montserrat">
  <div class="flex flex-col space-y-4 lg:space-x-4 lg:flex-row">
    <div class="lg:hidden">
      <%= render 'attachments' %>
    </div>
    <div>
      <%= form_with model: @product do |form| %>
        <% @product.errors.full_messages.each do |error|%>
          <div class="relative p-1 bg-red-500 border-2 border-white rounded-lg">
            <div class="absolute top-0 right-0 w-4 h-4 -mt-1 -mr-1 bg-red-700 rounded-full animate-ping"></div>
            <div class="absolute top-0 right-0 w-4 h-4 -mt-1 -mr-1 bg-red-700 rounded-full"></div>
            <%= error %>
          </div>
        <% end %>
        <div class="px-10 py-5 rounded-lg bg-slate-200">
          <div>
            <%= form.label :title, t('products.form.title'), class: "font-medium" %>
          </div>
          <div>
            <%= form.text_field :title, required: true, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slg focus:bg-white font-medium",placeholder: t('products.form.placeholder_title') %>
          </div>
          <div class="description_form">
            <%= form.label :description, t('products.form.description') , class: "font-medium" %>
            <%= form.rich_text_area :description %>
          </div>
          <div class="flex flex-col py-2 lg:flex-row lg:space-x-2">
            <div class="lg:w-3/5">
              <div>
                <%= form.label :category_id, t('.category') , class: "font-medium" %>
              </div>
              <div>
                <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name, {}, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slg focus:bg-white font-medium"%>
              </div>
            </div>
            <div class="lg:w-full">
              <div>
                <%= form.label :price, t('.price'), class: "font-medium w-full" %>
              </div>
              <div>
                <%= form.number_field :price, min: 1,  max: 2147483647, required: true, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slg focus:bg-white font-medium",placeholder: t('.placeholder_price') %>
              </div>
            </div>
          </div>
          <div>
            <h1 class="font-medium"><%= t('.dimensions')%></h1>
            <div class="flex flex-col py-2 lg:space-x-2 lg:flex-row">
              <div>
                <%= form.number_field :height, min: 1,  max: 2147483647, step: :any, class: "w-full lg:w-32 block border border-grey-light p-3 rounded mb-4 bg-slg focus:bg-white font-medium", placeholder: t('.placeholder_height') %>
              </div>
              <div>
                <%= form.number_field :depth, min: 1,  max: 2147483647, step: :any, class: "w-full lg:w-32 block border border-grey-light p-3 rounded mb-4 bg-slg focus:bg-white font-medium", placeholder: t('.placeholder_depth') %>
              </div>
              <div>
                <%= form.number_field :width, min: 1,  max: 2147483647, step: :any, class: "w-full lg:w-32 block border border-grey-light p-3 rounded mb-4 bg-slg focus:bg-white font-medium", placeholder: t('.placeholder_width') %>
              </div>
            </div>
          </div>
          <div class="w-full pb-3">
            <div>
              <%= form.label :discount, t('products.form.discount'), class: "font-medium pb-2" %>
            </div>
            <div class="flex flex-row items-center space-x-4">
              <div class="flex items-center bg-slate-300">
                <%= form.check_box :discount %>
              </div>
              <div class="w-full">
                <%= form.number_field :discount_percent, min: 0, max:100, class: "block border border-grey-light w-full rounded p-3 bg-slg focus:bg-white font-medium",placeholder: t('products.form.placeholder_discount') %>
              </div>
            </div>
          </div>
          <div>
            <div>
              <%= form.label :status, t('products.form.status'), class: "font-medium" %>
            </div>
            <div class="flex justify-around w-full p-3 mb-4 font-medium border rounded border-grey-light bg-slate-300 focus:bg-white">
              <div>
                <%= form.radio_button :status, true %>
                <%= form.label :status, t('products.form.new') %>
              </div>
              <div>
                <%= form.radio_button :status, false %>
                <%= form.label :status, t('products.form.old') %>
              </div>
            </div>
          </div>
          <div>
            <%= form.label :photo, t('products.form.photo'), class: "font-medium" %>
          </div>
          <div>
            <%= form.file_field :photo, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-medium" %>
          </div>
          <div>
            <%= form.label :images, t('products.form.images'), class: "font-medium" %>
          </div>
          <div>
            <%= form.file_field :images, multiple: true, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-medium" %>
          </div>
          <div class="flex justify-center py-2">
            <%= form.submit t('commond.submit'), class: "font-semibold bg-lb hover:bg-lbd p-2 rounded-md text-white" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="hidden lg:block">
      <%= render 'attachments' %>
    </div>
  </div>
</div>
