<div class="flex justify-center font-montserrat">
  <div class="flex space-x-4">
    <div>
      <%= form_with model: @product do |form| %>
        <% @product.errors.full_messages.each do |error|%>
              <div class="bg-red-500 p-1 border-2 border-white rounded-lg relative">

              <div class="absolute top-0 right-0 -mr-1 -mt-1 w-4 h-4 rounded-full bg-red-700 animate-ping"></div>
              <div class="absolute top-0 right-0 -mr-1 -mt-1 w-4 h-4 rounded-full bg-red-700"></div>

                <%= error %>
              </div>
        <% end %>


      <div class="bg-slate-200 px-10 py-5 rounded-lg">
          <div>
            <%= form.label :title %>
          </div>
          <div>
            <%= form.text_field :title, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-medium",placeholder: t('.placeholder_title') %>
          </div>

          <div class="description_form">
            <%= form.label :description %>
            <%= form.rich_text_area :description %>
          </div>

        <div class="flex justify-center py-2 space-x-2">
          <div>
            <div>
              <%= form.label :category_id %>
            </div>
            <div>
              <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name, {}, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-medium"%>
            </div>
          </div>

          <div>
            <div>
              <%= form.label :price %>
            </div>
            <div>
              <%= form.number_field :price, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-medium",placeholder: t('.placeholder_price') %>
            </div>
          </div>
        </div>

          <div>
            <%= form.label :photo %>
          </div>
          <div>
            <%= form.file_field :photo, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-medium" %>
          </div>

          <div>
            <%= form.label :images %>
          </div>
          <div>
            <%= form.file_field :images, multiple: true, class: "block border border-grey-light w-full p-3 rounded mb-4 bg-slate-300 focus:bg-white font-medium" %>
          </div>

          <div class="flex justify-center py-2">
            <%= form.submit t('commond.submit'), class: "font-semibold bg-lb hover:bg-lbd p-2 rounded-md text-white" %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <% unless @product.id.nil? %>
        <div class="bg-slate-200 px-10 py-5 rounded-lg">
          <div class= text-lg font-light pb-1">
            <%= t('.delete_attachement') %>
          </div>
          <div class="grid grid-cols-2 gap-2">
            <% @product.images.each do |image| %>
                <div data-controller="imagedelete" class="animated bg-slate-200 rounded-md 800 h-max w-28">
                  <%= image_tag(image, class: "object-scale-down h-24 w-full bg-white")%>
                  <%= button_to t('.remove'), delete_image_attachment_product_path(image.id), method: :delete, data: { action: "imagedelete#dismiss"}, class: " rounded-b-lg bg-red-700 text-white hover:bg-red-600 w-full"%>
                </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div class="py-20"></div>