<%= link_to product_path(product.id), class: 'product', 'data-turbo-frame': '_top' do %>
  <div class="min-h-full duration-200 ease-out rounded-md bg-slg 800 w-80 hover:scale-105 drop-shadow">
    <div class="bg-white rounded-md min-h-80">
      <%= image_tag product.photo, class: "object-scale-down w-full h-80 rounded-t-lg" if product.photo.attached? %>
    </div>
    <% if product.status %>
      <div class="p-1">
        <div class="px-1 text-white rounded-md bg-dgreen w-max"><%= t('.new')%></div>
      </div>
    <% else %>
      <div class="p-1">
        <div class="px-1 text-white rounded-md bg-dgreen w-max"><%= t('.old')%></div>
      </div>
    <% end %>
    <div class="text-center">
      <h2 class="text-lg font-semibold text-bgray"><%= product.title %></h2>
      <span class="text-base font-medium text-red-700">$<%= product.price %></span>
    </div>
  </div>
<% end %>
