<h2 class='title'><%= @product.title %></h2>
<div>
  <%= image_tag @product.photo, width: 200 if @product.photo.attached? %>
</div>

<p class='description'><%= @product.description %></p>

<span class='price'>$<%= @product.price %></span>

<div>
  <% if Current.user == @product.user or Current.user&.admin? %>
    <%= link_to t('.edit'), edit_product_path(@product) %>
    <%= link_to t('.destroy'), product_path(@product), data: { turbo_method: :delete } %>
  <% end %>
</div>

<div>
  <%= link_to t('.show_more', username: @product.user.username), user_path(@product.user.username) if Current.user&.admin? %>
</div>

<div>
  <% if @product.favorite %>
    <%= button_to t('.destroy_favorite'), favorite_path(@product.id), method: :delete %>
  <% else %>
    <%= link_to t('.favorite'), favorites_path(product_id: @product.id), data: { turbo_method: :post } if Current.user%>
  <% end %>
</div>


