<div class="flex justify-center">
  <div class="flex flex-col pl-5 pb-20">
    <div class="flex">
      <div>
        <%= image_tag @product.photo, class: "max-h-96" if @product.photo.attached? %>
      </div>

      <div class="flex flex-col bg-slate-200 rounded-r-lg p-3 w-96">
        <h2 class='title font-bold text-xl'><%= @product.title %></h2>

        <div class="flex justify-start">
          <span class='price text-red-700 text-lg'>$<%= @product.price %></span>
        </div>

        <div class="description">
          <%= simple_format(@product.description, class: "w-fit") %>
        </div>

        <div class="mt-auto">
          <%= link_to t('.show_more', username: @product.user.username), user_path(@product.user.username) if Current.user&.admin? %>
        </div>
      </div>
    </div>

    <div class="flex">
        <% if Current.user == @product.user or Current.user&.admin? %>
          <div class="bg-slate-800 rounded-b-lg text-center p-1 text-white">
            <%= link_to t('.edit'), edit_product_path(@product) %>
          </div>

          <div class="bg-red-700 rounded-b-lg text-center p-1 text-white">
            <%= link_to t('.destroy'), product_path(@product), data: { turbo_method: :delete } %>
          </div>
        <% end %>
      </div>
  </div>
</div>

      <div>
          <h1>Editar imagenes</h1>
          <% @product.images.each do |image| %>
            <%= image_tag(image)%>
            <%= button_to t('.remove'), delete_image_attachment_product_path(image.id),method: :delete%>
          <% end %>
      </div>



