<!DOCTYPE html>
<html>
  <head>
    <title>CSC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body class="flex flex-col min-h-screen bg-slgb">
    <%= render 'shared/flash' %>
    <%= render 'shared/header' %>
    <div class="py-11">
      <div class="flex justify-center">
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'shared/whatsapp' %>
    <footer class="mt-auto">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
