<!DOCTYPE html>
<html>
  <head>
    <title>CSC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/flash' %>
    <%= render 'shared/header' %>
    <div class=" bg-slate-50 py-10">
      <div class="flex justify-center">
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
    <footer class="mt-auto">
      <%= render 'shared/footer' %>
    </footer>

</html>
